@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

m-0-auto{
  margin: 0 auto;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@keyframes slideOut {
  from {
    width: 300px;
  }
  to {
    width: 0;
  }
}

.open-animation {
  animation: slideIn 0.5s ease forwards;
  will-change: transform;
}

.close-animation {
  animation: slideOut 0.5s ease forwards;
  will-change: transform;
}
